bin/
obj/
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
TestResults/
*.nupkg
artifacts/
.dotnet/
*.log
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.msix
*.msixbundle
*.appxbundle
localconvert.settings.json
